/* Regola di base per il corpo della pagina */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

/* Regola per l'intestazione della pagina */
h1 {
  text-align: center;
  color: #555;
  margin-top: 50px;
  font-size: 3rem;
  text-shadow: 1px 1px #ddd;
}

/* Regola per i form */
form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Regola per le etichette dei campi del form */
form p {
  margin-bottom: 10px;
}

/* Regola per gli input dei campi del form */
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Regola per il selettore dei campi del form */
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

/* Regola per i pulsanti del form */
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/* Regola per i link */
a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Regola per il paragrafo al centro della pagina */
p {
  text-align: center;
}
